body {
    background-image: url("img/max-nelson-taiuG8CPKAQ-unsplash.jpg");
    background-size: cover;
    background-position: center; 
    color: white;
}

/* NAVBAR */

.navbar-toggler-icon {
    color: white;
}

.navbar-custom {
    color: white;
    background: rgba(0,0,0,.25);
}

.navbar-custom a {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* .navbar-light .navbar-brand {
    color: white;
}

.navbar .nav-lin {
    color: white;
} */

.navbar{
    /* background: rgba(0,0,0,.25); */
    color: white;
}

#navBar{
    color: white;
}

#intro{
    
}

.overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    left:0;
    
}